/* Article (Component) */
.article {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: white;
  margin: 20px 20px;
  padding: 20px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s ease;
  border: solid;
  /* Add shadows to create the "card" effect */

}

.article:hover {
    background: #e6e6ff;
}
